@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.tech-chip {
  @apply font-bold leading-none bg-white text-black py-4 px-8 rounded-full whitespace-nowrap flex gap-4 justify-center items-center h-min;

  & svg {
    @apply size-8;
  }
}
.btn-shimmer {
  @apply relative overflow-hidden isolate text-white p-4 rounded-lg font-bold bg-black/80 shadow-inner shadow-black/40  transition-all duration-500 ease-out will-change-transform;
}

.btn-shimmer::after {
  content: "";
  @apply absolute inset-0 rounded-[inherit] bg-gradient-to-r from-transparent via-white/40 to-transparent translate-x-[-140%] transition-transform duration-600 ease-out;
}

.group:hover .btn-shimmer {
  @apply bg-gradient-to-br from-black/90 to-zinc-800 -translate-y-px scale-[1.015] ring-white/20 shadow-lg shadow-black/60;
}

.group:hover .btn-shimmer::after {
  @apply translate-x-[140%];
}
